/* NAVBAR MENU */
.navbar-nav {
    list-style: none;
}

.navbar-nav .nav-item {
    display: flex;
    align-items: center;
}

.nav-link::after {
    display: none !important;
}

.nav-link:focus {
    outline: none;
    box-shadow: none;
}
