/* =========================================================
   CERTIFIED SLIDER
========================================================= */

.certified-track {
    display: flex;
    align-items: stretch;
    gap: 20px;
    width: max-content;
    animation: scrollLeft 32s linear infinite;
}

.certified-track:hover {
    animation-play-state: paused;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-50% - 10px));
    }
}
