/* ==================================================
   BANNER BUTTONS
================================================== */

.buttons {
    display: flex;

    gap: 15px;
}

.btn {
    padding: 12px 22px;

    border-radius: 30px;

    text-decoration: none;

    font-weight: 500;

    transition: 0.3s;
}

/* PRIMARY */

.btn.primary {
    background: linear-gradient(135deg, #22c55e, #4ade80);

    color: white;
}

.btn.primary:hover {
    transform: scale(1.05);

    box-shadow: 0 5px 15px rgba(34, 197, 94, 0.4);
}

/* DANGER */

.btn.danger {
    border: 2px solid #ef4444;

    color: #ef4444;

    background: transparent;
}

.btn.danger:hover {
    background: #ef4444;

    color: #fff;
}
