/* ==================================================
   PAYMENT CONTAINER & GRID
================================================== */

.payment-container {
    max-width: 1000px;

    margin: auto;

    padding: 40px 15px;
}

/* GRID */

.payment-grid {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 25px;
}
