.doctor-appointment-paginator {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
}

.doctor-appointment-paginator nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.doctor-appointment-paginator nav > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}