/*SYSTEM SEARCH - COMMON */
.system-search-results,
#systemSearchResults,
#systemSearchPageResults {
    width: 100%;
}

/* Prevent link styling */

.system-search-result-item {
    text-decoration: none;
}

/* Better box sizing */
.system-search-result-item,
.system-search-result-item * {
    box-sizing: border-box;
}

/* Remove last margin */
#systemSearchResults .system-search-result-item:last-child,
#systemSearchPageResults .system-search-result-item:last-child {
    margin-bottom: 0;
}

/* Smooth image rendering */
.system-search-result-item img {
    display: block;
}
