/* =========================================================
   CONTACT LAYOUT
========================================================= */

.contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 35px;
    align-items: start;
}