/* ==================================================
   APPOINTMENT STATUS & PAYMENT
================================================== */
.bottom-info {
    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 10px;

    margin-top: 18px;

    flex-wrap: wrap;

    font-size: 13px;
}
/* PAYMENT */

.payment {
    background: #e5e7eb;

    padding: 4px 10px;

    border-radius: 10px;
}

/* STATUS */

.status {
    padding: 4px 10px;

    border-radius: 10px;

    color: #fff;
}

.status.pending {
    background: orange;
}

.status.confirmed {
    background: #22c55e;
}

.status.cancelled {
    background: red;
}
