/* ==================================================
   DOCTOR PAGE LAYOUT
================================================== */

.doctor-intro {
    padding: 60px 20px 30px;
    background: transparent;
}

/* GRID */

.doctor-grid {
    display: grid;

    grid-template-columns: repeat(5, 1fr);

    gap: 25px;
}
