/* ==================================================
   SERVICE CARD
================================================== */

.service-card {
    background: #fff;
    border-radius: 18px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: all 0.3s ease;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}

.service-card:hover {
    transform: translateY(-8px);

    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

/* CONTENT */

.service-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
