/* =========================================================
   FILE: footer-bottom.css
========================================================= */

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #047857;
}