@media (max-width: 991px) {
    .footer-brand {
        margin-bottom: 10px;
    }
    .footer-widget {
        margin-top: 8px;
    }
}

@media (max-width: 768px) {
    .footer-brand {
        margin-bottom: 8px;
    }
    .footer-widget {
        margin-top: 5px;
    }
    .footer-widget h5 {
        font-size: 18px;
    }
    .footer-widget p {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .footer-widget h5 {
        font-size: 17px;
    }
    .footer-widget ul li {
        margin-bottom: 10px;
    }
}
